@CHARSET "ISO-8859-1";

#main {
	
}
#content {
	width : 1000px;
	text-align : left;
	/*  background-color: #567889;*/
}
li.inline {
	display :inline-table;
}
iframe {
	width : 990px;
	height : 900px;
}